<div class='grid grid-cols-3 gap-4'>
	{{#each tareas}}
		<div class='border rounded-md w-fit px-4 py-2 mx-auto'>
			<p class='text-3xl'>{{this.nombre}}</p>
			<p>{{this.descripcion}}</p>
		</div>
	{{/each}}
</div>